.stlHelp1{
    background: #28c3f1;
}
.stlHelp2{
    width: 95%;
    margin: auto;
    padding-top: 10px;
}
.stlHelp3{
    width: 100%;
    margin: auto;
}

.stlHelp3 img{
    width: 100%;
}

.stlHelp4{
    width: 95%;
    margin: 10px auto;
    background: #ffffff;


}
.stlHelp5{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.stlHelp6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    color: #0c0d0d;
}
.stlHelp7{
    width: 100%;
    height: 15px;
}
.stlHelp7b{
    width: 100%;
    height: 5px;
}
.stlHelp8{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    color: #414244;
}
.stlHelp9{
    width: 100%;
    height: 15px;
}