.stlTop1{
    width:100%; 
}
.stlTop2{
    width:100%; 
}
.stlTop3{
    width:50%; 
    float:left;
}
.stlTop3 img{
    width: 130px;
}
.stlTop4{
    width:50%; 
    float:left; 
    text-align: right;
    font-size: 1.5em;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #28C3F1;
}