.stlSettings1{


    background: url(../images/bk3.png) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.stlSettings2 {

}
.stlSettings3{
    width: 90%;
    margin: auto;
    padding-bottom: 5px;

}
.stlSettings4{
    width: 70%;
    float: left;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;

}
.stlSettings4b{
    width: 30%;
    float: left;

}
.stlSettings5{
    width: 90%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.stlSettings6{
    width: 90%;
    margin: auto;
    max-width: 160px;
    padding-top: 10px;

}
.stlSettings6 img{
    width: 100%;
}
.stlSettings7{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #e8fd01;

}

.stlSettings8{
    width: 100%;
    text-align: center;
    padding-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #ffffff;

}