<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
        data-comp-id="header-bar.1">
        <div class="stlTop1">
            <div class="stlTop3" style="padding: 0px 0px 0px 20px; background: #22282a;">
                <div class="stlTop3a">
                    <img src="img/logo1.png">
                </div>
                <div class="stlTop3b">
                    <a href="" ui-turn-off="uiSidebarLeft">
                        <i aria-hidden="true" class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item ng-hide" data-comp-id="item.1"
                ng-click="app.getAppSettings(true)" ng-show="hasCordova || isCanvas">
                <div data-comp-id="text.1">
                    Settings
                </div>
            </div>
            <div class="item" data-comp-id="item.2" ng-click="app.logout()">
                <div data-comp-id="text.2">
                    Logout
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>