<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
        data-comp-id="header-bar.1" style="background: #000; ">
        <div class="stlTop1">
            <div class="stlTop2">
                <div class="stlTop3">
                    <img src="images/logo1.png">
                </div>
                <div class="stlTop4">
                    Menu
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1"
        style=" background: url(images/bk2.png) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
">
        <ion-list data-comp-id="ionic-list.1">
            <ion-item class="item item-icon-left item-icon-right">
                <i class="icon ion-male blueicon"></i>
                My tas
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ng-click="app.logout()">
                <i class="icon ion-log-out blueicon"></i>
                Logout
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>