<ion-view data-comp-id="ionic-view.1">
    <side-menus>
        <pane side-menu-content="">
            <nav-bar type="bar-orange"></nav-bar>
            <nav-view name="menuContent"></nav-view>
        </pane>
        <side-menu id="menu" side="left">
            <header class="bar bar-header bar-ligth" style="height:80px;">
                <div class="title" id="menu-header"></div>
            </header>
            <content has-header="true" id="menu">
                <ul class="list" ng-click="toggleLeft()" style="margin-top: 35px;">
                    <a class="item" href="#/tab/one" id="menu">one</a>
                    <a class="item" href="#/tab/two" id="menu">two</a>
                    <a class="item" href="#/tab/x" id="menu">x</a>
                </ul>
            </content>
        </side-menu>
    </side-menus>
    <ion-content data-comp-id="ionic-content.1">
        tasklist
    </ion-content>
</ion-view>