<ion-header>
    <ion-navbar>
        <button icon-only="" ion-button="" menutoggle="">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Page Title
        </ion-title>
        <ion-buttons end="">
            <button (click)="openModal()" icon-only="" ion-button="">
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-view view-title="Playlists">
    content
</ion-view>