<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar class=" bar-positive" data-comp-id="header-bar.1"
        ng-class="headerClass">
        <div class="buttons">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </div>
        <h1 class="title" data-comp-id="text.1">Tittle</h1>
        <div class="buttons"></div>
    </ion-header-bar>
    <ion-content data-comp-id="ionic-content.1">
        content
    </ion-content>
</ion-view>