<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()" style="color:#ffffff;"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Help</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-notifications"
                data-comp-id="button.2" ng-click="app.go('app.vnotifications2')"
                style="color:#ffffff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="stlHelp2">
            <div class="stlHelp3">
                <img src="img/help_img1.jpg">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="stlHelp4">
            <div class="stlHelp5">
                <div class="stlHelp6">
                    Please contact our support team through any of these methods:
                </div>
                <div style="clear: both;"></div>
                <div class="stlHelp7"></div>
                <div style="clear: both;"></div>
                <!--
              <div class="stlHelp8">
                  For immediate assitance on eBPM Mobile Approval:
              </div>

              <div style="clear: both;"></div>
              <div class="stlHelp7"></div>
              <div style="clear: both;"></div>
              -->
                <div class="stlHelp8">
                    1. Call eBPM support at VoIP 6666 914 1378 / 1697
                </div>
                <div style="clear: both;"></div>
                <div class="stlHelp7b"></div>
                <div style="clear: both;"></div>
                <div class="stlHelp8">
                    2. Raise a SNC incident using "eBPM Issues" smart category.
                </div>
                <div style="clear: both;"></div>
                <div class="stlHelp7b"></div>
                <div style="clear: both;"></div>
                <div class="stlHelp8">
                    3. Dial Global IT Helpdesk phone numbers.
                </div>
                <div style="clear: both;"></div>
                <div class="stlHelp9"></div>
                <div style="clear: both;"></div>
                <div class="stlHelp10">
                    <a class="btn btn-custom1 btn-block" href="javascript:fCallHelpSVN();">
                        Helpdesk
                    </a>
                </div>
                <div style="clear: both;"></div>
                <div class="stlHelp7b"></div>
                <div style="clear: both;"></div>
                <div class="stlHelp8">
                    4. For more details go to the eBPM Sharenet site.
                </div>
                <div style="clear: both;"></div>
                <div class="stlHelp9"></div>
                <div style="clear: both;"></div>
                <div class="stlHelp10">
                    <a class="btn btn-custom1 btn-block" href="javascript:fCallShareNet();">
                        Sharenet
                    </a>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer=""
        style="background: rgb(0, 0, 0);  margin: 0px; padding: 10px;">
        <div class="" data-comp-id="row.1" style="padding: 0px; text-align:center;  ">
            <img src="images/flexLogo1.png" style="width:50px">
        </div>
    </div>
</ion-view>