<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()" style="color:#ffffff;"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Recent Moblie Actions</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-notifications"
                data-comp-id="button.2" ng-click="app.go('app.vhistory')" style="color:#ffffff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1" style="background: #28c3f1;">
        <!--Notification-->
        <divstyle="background: data-comp-id="div.1" style="margin: 4%;"#28c3f1;"="" >
            <div class="row " data-comp-id="row.1">
                <div class="col" data-comp-id="column.1" style="padding: 2% 0% 0% 2%;">
                    <div data-comp-id="text.1" style="font-size: 18px; ">Today</div>
                </div>
            </div>
            <div class="card" data-comp-id="div.2" style="border-radius: 10px;">
                <div class="row" data-comp-id="row.2"
                    style="border-bottom: 1px solid rgb(238, 238, 238); padding: 4%; border-radius: 10px;">
                    <div class="col text-center col-10" data-comp-id="column.2">
                        <i class="icon ion-information-circled positive" data-comp-id="icon.1"
                            style="font-size: 18px;"></i>
                    </div>
                    <div class="col" data-comp-id="column.3">
                        <div class=" energized" data-comp-id="text.2"
                            style="float: left; font-size: 16px;">Updates</div>
                        <div data-comp-id="text.3"
                            style="float: left; font-size: 12px; color: rgb(153, 153, 153); font-weight: 300; margin: 0% 0% 0% 4%;">7m</div>
                        <div data-comp-id="text.4"
                            style="float: left; font-size: 12px; color: rgb(153, 153, 153); font-weight: 300; margin: 0px 0px 0px 4px;">ago</div>
                        <div class="row" data-comp-id="row.3" style="margin: 12% 0% 0%; padding: 0px;">
                            <div class="col" data-comp-id="column.4" style="margin: 0px; padding: 0px;">
                                <div data-comp-id="text.5"
                                    style="color: rgb(102, 102, 102); font-weight: 300; font-size: 16px;"></div>
                                <div data-comp-id="text.6" style="color: rgb(102, 102, 102); font-size: 14px;">Some text</div>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center col-10" data-comp-id="column.5"
                        style="padding: 2% 0% 0%;">
                        <!--
                        <i ng-hide="false" class="icon ion-ios-close-empty dark" data-comp-id="icon.2"
                            ng-click="app.action('notifications', 'data.groups[item].notifications[notification].close', this)"
                            style="font-size: 24px;"></i>
                            -->
                    </div>
                </div>
            </div>
            <!--Notification-->
        </divstyle="background:></ion-content> <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1" dynamic-floating-footer="" style="background: rgb(0, 0, 0); margin: 0px; padding: 10px;"> <div class="" data-comp-id="row.4" style="padding: 0px; text-align:center; "> <img src="images/flexLogo1.png" style="width:50px"> </div> </div> </ion-view>