<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()" style="color:#ffffff;"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">My task</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-notifications"
                data-comp-id="button.2" ng-click="app.go('app.vnotifications2')"
                style="color:#ffffff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-list can-swipe="true" show-delete="false">
            <ion-item href="#">
                Request: CTR000000000000001
                <ion-option-button class="button-assertive icon ion-android-close"
                    ng-click="fReject()"></ion-option-button>
                <ion-option-button class="button-dark icon ion-android-funnel"
                    ng-click="app.go('vdetails')" style="background:#28c3f1;"></ion-option-button>
                <ion-option-button class="button-positive icon ion-android-done-all"
                    ng-click="fApprove()" style="background:green ;"></ion-option-button>
            </ion-item>
            <ion-item href="#">
                Request: CTR000000000000002
                <ion-option-button class="button-assertive icon ion-android-close"></ion-option-button>
                <ion-option-button class="button-dark icon ion-android-funnel"
                    style="background:#28c3f1;"></ion-option-button>
                <ion-option-button class="button-positive icon ion-android-done-all"
                    style="background:green ;"></ion-option-button>
            </ion-item>
            <ion-item href="#">
                Request: CTR000000000000003
                <ion-option-button class="button-assertive icon ion-android-close"></ion-option-button>
                <ion-option-button class="button-dark icon ion-android-funnel"
                    style="background:#28c3f1;"></ion-option-button>
                <ion-option-button class="button-positive icon ion-android-done-all"
                    style="background:green ;"></ion-option-button>
            </ion-item>
            <ion-item href="#">
                Request: CTR000000000000004
                <ion-option-button class="button-assertive icon ion-android-close"></ion-option-button>
                <ion-option-button class="button-dark icon ion-android-funnel"
                    style="background:#28c3f1;"></ion-option-button>
                <ion-option-button class="button-positive icon ion-android-done-all"
                    style="background:green ;"></ion-option-button>
            </ion-item>
            <ion-item href="#">
                Request: CTR000000000000005
                <ion-option-button class="button-assertive icon ion-android-close"></ion-option-button>
                <ion-option-button class="button-dark icon ion-android-funnel"
                    style="background:#28c3f1;"></ion-option-button>
                <ion-option-button class="button-positive icon ion-android-done-all"
                    style="background:green ;"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer=""
        style="background: rgb(0, 0, 0);  margin: 0px; padding: 10px;">
        <div class="" data-comp-id="row.1" style="padding: 0px; text-align:center;  ">
            <img src="images/flexLogo1.png" style="width:50px">
        </div>
    </div>
</ion-view>