<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()" style="color:#ffffff;"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Settings</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-notifications"
                data-comp-id="button.2" ng-click="app.go('app.vnotifications2')"
                style="color:#ffffff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="stlSettings1" data-comp-id="ionic-content.1">
        <div style="width:100%; height:10%;"></div>
        <div style="clear:left"></div>
        <div class="stlTittle stlSettings2">
            Sort requests by:
        </div>
        <div style="clear: both"></div>
        <div class="stlTittleLine"></div>
        <div style="clear: both"></div>
        <div class="stlSettings3">
            <ion-checkbox data-comp-id="checkbox.1">By Date</ion-checkbox>
        </div>
        <div style="  clear: both"></div>
        <div class="stlSettings3">
            <ion-checkbox data-comp-id="checkbox.2">By Request</ion-checkbox>
        </div>
        <div style="clear: both"></div>
        <div class="stlTittle stlSettings2">
            Reminders
        </div>
        <div style="clear: both"></div>
        <div class="stlTittleLine"></div>
        <div style="clear: both"></div>
        <div style="clear: both"></div>
        <div class="stlSettings3">
            <ion-checkbox data-comp-id="checkbox.3">Active</ion-checkbox>
        </div>
        <div style="  clear: both"></div>
        <div class="stlSettings3" id="divTime2z" style="display: none;">
            <div onclick="fSettingsNotifications2(2);"
                style="background:none; width: 100%; left: 0; height: 45px; position: absolute; z-index: 10;"></div>
            <div class="stlSettings4">
                For days
            </div>
            <div class="stlSettings4b">
                <label class="switch2">
                    <input id="forDays" type="checkbox" value="1">
                    <div class="slider2 round2"></div>
                </label>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
        <div class="stlSettings3" id="divTime1z" style="display: none;">
            <div onclick="fSettingsNotifications2(1);"
                style="background:none; width: 100%; left: 0; height: 45px; position: absolute; z-index: 10;"></div>
            <div class="stlSettings4">
                For hours
            </div>
            <div class="stlSettings4b">
                <label class="switch2">
                    <input id="forHours" type="checkbox" value="1">
                    <div class="slider2 round2"></div>
                </label>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
        <div style="clear: both"></div>
        <div class="stlSettings6">
            <img src="images/logo2.png">
        </div>
        <div style="clear: both"></div>
        <div class="stlSettings7">
            Ver.
            {{configVersion}}
            {{sEnvironment}}
        </div>
        <div style="clear: both"></div>
        <div class="stlSettings8" style="width: 90%; margin: auto;">
            {{configDescription}}
        </div>
        <div style="clear: both"></div>
        <div style="width: 100%; height: 30px;"></div>
        <div style="clear: both"></div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer=""
        style="background: rgb(0, 0, 0);  margin: 0px; padding: 10px;">
        <div class="" data-comp-id="row.1" style="padding: 0px; text-align:center;  ">
            <img src="images/flexLogo1.png" style="width:50px">
        </div>
    </div>
</ion-view>